.Subbody{
    display: flex;
}
.subrow{
    display: flex;
}
#subcont{
    background-color: white;
    box-Shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}
.card{
    border: 0px solid grey;
}
.input{
    box-shadow: none;
    margin-top: 1rem;
    padding: 5px ;
    border-radius: 5px;
    border: 1px solid grey;
}
#subicon{
    margin-right: 10px;
}