@import url('https://fonts.googleapis.com/css2?family=Joan&family=Oswald:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Playfair+Display&display=swap');


.navsection{
 margin: 0;
 padding: 0;
 background-color: #1a6985;
 width: auto;
 height: 12vh;
 box-Shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
 body{
    background-color: #e9f5f9;
    font-family: 'Playfair Display', serif;
 }

 .logo{
    font-size: 3rem;
    /* padding-top: 30px; */
    color: white;

    font-family: 'Oswald', sans-serif;
 }
 .userdetail{
    color: white;
    position: absolute;
    left: 80%;
    top: 2%;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
 }

 #navcontainer{
    display: flex;
    padding-top: 20px;
 }
 .navicon{
    font-size: 5rem;
    cursor: pointer;
 }